/* Light mode configurations */

.theme-admonition-info {
    background-color: rgba(209, 208, 251, 0.25);
    border: var(--ifm-alert-border-width) solid rgba(97, 63, 255, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

.theme-admonition-info code {
    background-color: rgb(246, 247, 248)
}

.theme-admonition-tip {
    background-color: rgba(204, 255, 238, 0.25);
    border: var(--ifm-alert-border-width) solid rgba(0, 170, 98, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

.theme-admonition-tip code {
    background-color: rgb(246, 247, 248)
}

.theme-admonition-danger {
    background-color: rgba(250, 199, 190, 1);
    border: var(--ifm-alert-border-width) solid rgba(232, 77, 49, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

.theme-admonition-danger code {
    background-color: rgb(246, 247, 248)
}

.theme-admonition-note {
    background-color: rgba(209, 215, 225, .25);
    border: var(--ifm-alert-border-width) solid rgba(40, 49, 61, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

.theme-admonition-note code {
    background-color: rgb(246, 247, 248)
}

.theme-admonition-caution {
    background-color: rgba(250, 225, 183, 0.25);
    border: var(--ifm-alert-border-width) solid rgba(232, 177, 77, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

.theme-admonition-caution code {
    background-color: rgb(246, 247, 248)
}


/* Dark mode configurations */

[data-theme='dark'] .theme-admonition-info {
    background-color: rgba(97, 63, 255, .5);
    border: var(--ifm-alert-border-width) solid rgba(97, 63, 255, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition-info code {
    background-color: rgba(209, 208, 251, 0.30);
}

[data-theme='dark'] .theme-admonition-tip {
    background-color: rgba(0, 170, 98, .5);
    border: var(--ifm-alert-border-width) solid rgba(0, 170, 98, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition-tip code {
    background-color: rgba(209, 208, 251, 0.30);
}

[data-theme='dark'] .theme-admonition-danger {
    background-color: rgba(232, 77, 49, .5);
    border: var(--ifm-alert-border-width) solid rgba(232, 77, 49, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition-danger code {
    background-color: rgba(209, 208, 251, 0.30);
}

[data-theme='dark'] .theme-admonition-note {
    background-color: rgba(40, 49, 61, .5);
    border: var(--ifm-alert-border-width) solid rgba(40, 49, 61, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition-note code {
    background-color: rgba(209, 208, 251, 0.30);
}

[data-theme='dark'] .theme-admonition-caution {
    background-color: rgba(232, 177, 77, .5);
    border: var(--ifm-alert-border-width) solid rgba(232, 177, 77, 1);
    border-left-width: var(--ifm-alert-border-left-width);
}

[data-theme='dark'] .theme-admonition-caution code {
    background-color: rgba(209, 208, 251, 0.30);
}