 @font-face {
     font-family: "InstrumentSans";
     src: url('/static/font/InstrumentSans-Regular.ttf') format('truetype');
 }

 @font-face {
     font-family: "InstrumentSans-Bold";
     src: url('/static/font/InstrumentSans-Bold.ttf') format('truetype');
 }

 @font-face {
     font-family: "InstrumentSans-BoldItalic";
     src: url('/static/font/InstrumentSans-BoldItalic.ttf') format('truetype');
 }

 @font-face {
     font-family: "InstrumentSans-SemiBold";
     src: url('/static/font/InstrumentSans-SemiBold.ttf') format('truetype');
 }

 @font-face {
     font-family: "InstrumentSans-Medium";
     src: url('/static/font/InstrumentSans-Medium.ttf') format('truetype');
 }