.footer {
    height: 5%;
    padding: 0;
    background-color: var(--ifm-color-gray-900);
}

/* [data-theme='dark'] .footer {
    background-color: #000000;
} */

footer>.container {
    max-width: unset;
    padding: var(--ifm-spacing-horizontal);
}

.footer__col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__items .clean-list {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 996px) {
  .footer__col {
    margin-bottom: unset;
  }
}

.footer__links {
    margin-bottom: 0;
}

.footer__link-item {
    font-weight: bolder;
    float: left;
}

.footer__link-item svg {
    display: none;
}

.social_links {
    text-decoration: none;
    text-align: center;
    font-size: larger;
    padding-right: 0%;
    margin-left: 27.5%;
    margin-right: -15%;
    color: #000000;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

[data-theme='dark'] .social_links {
    color: white;
}

.copyright {
    color: var(--ifm-footer-link-color);
    margin-top: 3%;
    color: #000000;
}

[data-theme='dark'] .copyright {
    color: white;
}

[data-theme='dark'] .footer {
    box-shadow: 0px 0px 0px .2px white;
}