.lsk-light {
    margin-top: -.35em;
    width: 5em;
    padding: .5%;
}

.lsk-dark {
    margin-top: -.35em;
    width: 5em;
    padding: .5%;
}

html[data-theme='light'] .lsk-dark {
    display: none;
}

html[data-theme='dark'] .lsk-light {
    display: none;
}

.lisk-smp-light {
    height: 200px;
    width: 200px;
    margin-bottom: -5%;
}

.lisk-smp-dark {
    height: 200px;
    width: 200px;
    margin-bottom: -5%;
}

html[data-theme='light'] .lisk-smp-dark {
    display: none;
}

html[data-theme='dark'] .lisk-smp-light {
    display: none;
}

.op-light {
    width: 11em;
    display: flex;
    align-self: center;
    margin-bottom: .09em;
    padding-right: 10%;
}

html[data-theme='light'] .op-dark {
    display: none;
}

.op-dark {
    width: 11em;
    display: flex;
    align-self: center;
    margin-bottom: .09em;
    padding-right: 10%;
}

html[data-theme='dark'] .op-light {
    display: none;
}