.lsk-light {
    margin-top: -.35em;
    width: 5.15em;
    padding: .5%;
}

html[data-theme='light'] .lsk-dark {
    display: none;
}

.lsk-dark {
    margin-top: -.35em;
    width: 5.15em;
    padding: .5%;
}

html[data-theme='dark'] .lsk-light {
    display: none;
}

.op-light {
    width: 10em;
    display: flex;
    align-self: center;
    margin-bottom: .09em;
    padding-right: 10%;
}

html[data-theme='light'] .op-dark {
    display: none;
}

.op-dark {
    width: 10em;
    display: flex;
    align-self: center;
    margin-bottom: .09em;
    padding-right: 10%;
}

html[data-theme='dark'] .op-light {
    display: none;
}