.navbar__item {
    font-weight: var(--ifm-font-weight-bold);
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    align-self: center;
    margin-top: .4%;
    padding: 0%;
    margin-left: -1em;
    font-size: larger;
}

html[data-theme='dark'] .navbar__item {
    font-family: 'Gilroy-ExtraBold';
    text-transform: uppercase;
    align-self: center;
    margin-top: .3%;
    color: var(--ifm-menu-color);
}

.navbar__logo img {
    margin-top: -.3em;
    width: 5.15em;
    align-self: center;
}

.navbar--fixed-top {
    box-shadow: 0px 0px 0px .2px var(--ifm-color-emphasis-600);
}