.navbar__item {
    /* font-weight: var(--ifm-font-weight-bold); */
    font-family: 'InstrumentSans';
    font-size: 16px;
    padding: 0 1em 0 1em;
    height: 100%;
    align-content: center;
    color: var(--ifm-color-primary);
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.navbar__brand {
    flex-basis: 18%;
}

.navbar__item:hover {
    opacity: 0.8;
    background: linear-gradient(90deg, var(--ifm-background-color) 0%, #AEFFC8 20%, #FFEEB1 45.72%, #D0A8FF 80%, var(--ifm-background-color) 100%);
    backdrop-filter: blur(15px);
    /* background: linear-gradient(90deg, #6FFF9B 0%, #FFE07B 48.08%, #9537FE 100%); */
    /* background: linear-gradient(90deg, #AEFFC8 0%, #FFF3CA 48.08%, #C38FFF 100%); */
}

html[data-theme='dark'] .navbar__item:hover {
    color: var(--ifm-background-color);
} 

.navbar--fixed-top {
    box-shadow: 0px 0px 0px .2px var(--ifm-color-emphasis-600);
}